body {
	background-image: url('background.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
}

header {
    text-align: center;
    color: #ffffff;

    margin-top: 6rem;
    align-self: center;
}

header div.header-heading {
    font-size: 400%;
}

header div.header-description {
    font-size: 150%;
    margin-bottom: 1em;
}

header a.header-btn {
    margin-top: 1em;
    transition: all 1s;
}

header .header-btn:hover {
    transform: scale(1.2);
}